$brand: #348659;
$secundary: #6cad7d;

$lightGray: #cbcfcc;

$disabled: #616161;

$dark: #000000d9;

$black: #000;

$white: #fff;

$error: #D8000C;

$warning: #ff5722;

$gradientColor: linear-gradient(90deg, $secundary 0%, $brand 35%, $secundary 100%);
