$brand: #348659;
$secundary: #6cad7d;
$selected: #2b580c;

$logo: #1a8641;

$lightGray: #cbcfcc;

$disabled: #616161;

$dark: #000000d9;

$share: #f3f1f1;

$black: #000;

$white: #fff;

$error: #D8000C;

$warning: #ff5722;

$gradientColor: linear-gradient(90deg, $logo 0%, $brand 35%, $logo 100%);
