
$tablet-width-portrait: 600px;
$tablet-width: 769px;
$desktop-width: 992px;
$large-desktop-width: 1281px;

$smallHeight: 700px;

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (max-width: #{$tablet-width-portrait}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin largeDesktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin smallHeight {
  @media (max-height: #{$smallHeight}) {
    @content;
  }
}

@mixin landscapeKeyboard {
  @media only screen and (max-height: 392px) and (orientation: landscape) {
    @content;
  }
}
